<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{{ userpictureurl }}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="{{{ userprofileurl }}}" class="d-block">{{ user.fullname }}</a>
    </div>
</div>
